.SearchResults {
  width: 45%;
  height: 750px;
  padding: .88rem;
  background-color: white;
  border-color: teal;
  border-style: solid;
}
.SearchResults-Return {
  width: 100%;
  height: 75%;
  padding-top: 20%;
  border-top: solid;
  border-color: inherit;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}

.Property-information {
  flex-grow: 1;
  flex-direction: column;
  display: block;
  justify-content: center;
  display: inline-flex;
  height: 5%;
}

.Property-information h3 {
  margin-bottom: .22rem;
}

.Property-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);

}
