.Property {
  display: flex;
  align-items: center;
  border-bottom: 1px solid teal;
  padding: 5%;
  display: inline-block;
}

.Property-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
}

.Property-action:hover {
  color: teal;
  font-weight: bolder;
}

.Property-information {
  flex-grow: 1;
  align-content: justify;
  height: 5%;
}

.Property-information h3 {
  align-content: center;
  margin-bottom: .22rem;
}

.Property-information p {
  font-size: 1rem;
  display: inline-block;
  align-content: justify;
  font-weight: 300;
  color: gray;
}
.Property-information p input{
  color: black;
  width: 15%;
  font-size: 18px;
  font-weight: bold;
  border: transparent;
  border-bottom: solid thin;
}
.Property-information-strike {
  flex-grow: 1;
  align-content: justify;
  height: 5%;
  text-decoration:line-through;
  text-decoration-color: red;
}

.Property-information-strike h3 {
  align-content: center;
  margin-bottom: .22rem;
  text-decoration: inherit;
}

.Property-information-strike p {
  font-size: 1rem;
  display: inline-block;
  align-content: justify;
  font-weight: 300;
  text-decoration: inherit;
  color: gray;
}
.Property-information-strike p input{
  color: black;
  width: 15%;
  font-size: 18px;
  font-weight: bold;
  border: transparent;
  border-bottom: solid thin;
}
